<body style="font-family:'Segoe UI'">
    <iframe name="myframe" scrolling="auto" width="100%" height="100%"
            onload="document.all['myframe'].style.height=myframe.document.body.scrollHeight"
            src='https://webchat.botframework.com/embed/oucheng?s=bO7qt9dAhQ8.cwA.ZSY.EGqOON4SVIqXdjwqBL4GGfFHJGUKfmou5azEI5lYmIc' style="height: 502px; max-height: 502px;"></iframe>
</body>
